  <div class="btn-group pull-right">
    <button type="button" class="btn btn-success btn-sm  dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-pencil fa-lg"></i> Edit <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="http://prose.io/#poppy-project{{site.baseurl}}/edit/gh-pages/{{page.path}}"><i class="fa fa-file-text-o fa-2x fa-fw pull-left"></i><strong> Prose.io</strong></a></li>
      <li><a href="https://github.com/poppy-project{{site.baseurl}}/edit/gh-pages/{{page.path}}"><i class="fa fa-github fa-2x fa-fw pull-left"></i> <strong>GitHub</strong> </a></li>
    </ul>
  </div>
